$roboto-font-stack: 'Roboto', sans-serif;
$oxygen-font-stack: 'Oxygen', arial, verdana, sans-serif;
$monospace-font-stack: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

* {
  margin: 0;
}

html {
  font: 100% $roboto-font-stack;
  @include font-smoothing();
  position: relative;
  min-height: 100%;
}

html, body {
  padding: 0;
}

body {
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 110px;
}

code{
  padding: 3px;
  font-family: 0.9em $monospace-font-stack;
  color: #518BAB;
  border: 1px solid lightblue;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgb(204, 204, 204);
  height: 60px;
  width: 100%;
  text-align: center;
}
.footer-buttons {
  display: inline-block;
}
.footer-buttons > div {
  margin: 12px 5px 5px;
  float: left;
}

.dialog p + p {
  margin: 12px 0;
}

.response-wait-dialog-content {
  width: 300px !important;
  text-align: center;
}

.error-dialog-content {
  margin: 10px 0;
}

pre.traceback {
  overflow-x: scroll;
  margin: 10px 0;
  background-color: #fafafa;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 15px;
}

.logo {
  text-align: center;
}
h1.logo {
  margin-top: 50px;
  margin-bottom: 15px;
  font: 36px $oxygen-font-stack;
  font-weight: bold;
}
h3.logo {
  margin-bottom: 30px;
  font: 18px $oxygen-font-stack;
  font-weight: normal;
  font-style: italic;
}

.dropzone {
  cursor: pointer;
  margin: 1rem auto 0;
  outline: 2px dashed rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.1);
  display: block;
  width: 310px;
}
.dropzone:hover {
  outline: 2px dashed rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.15);
}

.samples {
  margin: 10px 0;
  text-align: center;
}
.samples a:link, a:visited {
  color: #4078c0;
  text-decoration: none;
  background-color: transparent;
}
.samples a:hover, a:active {
  text-decoration: underline;
  cursor: auto;
}
.samples .separator {
  margin: 0 15px;
  color: rgba(0, 0, 0, 0.35);
}

.mission-details-pane {
  max-width: 960px;
  margin: 40px auto;
}
.mission-details {
  display: flex;
  padding-bottom: 15px;
}
.mission-details-menu {
}
.mission-details-data {
  flex: 1;
  border-left: 1px solid rgb(204, 204, 204);
  padding: 10px;
}

.material-icons.fixation {
  top: 5px;
  padding-right: 5px;
}
